.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* alto mínimo */
    min-height: 25vh;
}

.form h3 {
    font-size: 2rem;
    margin: revert;
}

.form div {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

.form input {
    height: 2.5rem;
    width: 350px;
    border-radius: 15px;
    background-color: #c6c6c6;
    text-align: center;
    margin-top: 1rem;
    border-width: 0px;
}

.form input[type=submit]:hover,
.form input[type=email]:hover {
    background-color: black;
    color: white;
}

.form input:focus {
    transform: scale(1.2);
    transition: .3s;
}