.primeraSeccion {
  grid-area: primeraSeccion;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primeraSeccion h2 {
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
}

.primeraSeccion p {
  max-width: 550px;
  text-align: center;
  margin: 1rem;
}

.primeraSeccion button {
  padding: 0.5rem;
  margin: 1rem;
  /* transform: tranlasteY (-10px) */
  transform: scale(2);
  /* valores de 0 a 1 achica; de 1 en adelante agranda */
  transform: skew(-25deg);
  /* skewY; skewX y negativo o positivo */
}

.primeraSeccion button:hover {
  transition: .2s;
  transform: scale(2.2);
}